@import '../../../../assets/scss';

td {
    flex-grow: 1;
    flex-basis: 10rem;
    border: 1px solid $empty-progress-bar-gary;
    text-align: left;
    height: 4rem;
    min-width: 10rem;
    display: flex;
    position: relative;

    &.last-td {
        border-bottom: 2px solid $text-dark-blue;
    }

    &.current-day {
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        position: relative;

        &::before {
            content: '';
            width: 3px;
            height: calc(100% + 3px);
            background-color: $text-dark-blue;
            position: absolute;
            left: -2%;
            top: -5%;
            z-index: 1;
        }

        &::after {
            content: '';
            width: 3px;
            height: calc(100% + 3px);
            background-color: $text-dark-blue;
            position: absolute;
            right: -2%;
            top: -5%;
            z-index: 1;
        }
    }


}