@import '../../assets/scss';

.flex-center {
    display: flex;
    align-items: center;
}


header {
    grid-column: 1 / 13;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $box-shadow;
    padding: 0 1rem;
    max-width: 100vw;

    &>div {
        display: flex;
        align-items: center;
        gap: 2rem;

    }

    .about-me {
        @extend .flex-center;
        gap: 2rem;
    }

    .burger-icon {
        display: grid;
        place-items: center;
        @include circle(3.8rem);
        flex-basis: 4rem;

        &:hover {
            background-color: #EFEFEF;
        }
    }

    .notification {
        position: relative;

        .pop {
            position: absolute;
            top: -36%;
            right: -41%;
            background-color: #f50057;
            color: #fff;
            height: 1.8rem;
            width: 1.8rem;
            font-size: 1.3rem;
            border-radius: 50%;
            display: grid;
            place-items: center;
        }

    }

    .about-user {
        display: flex;
        align-items: centre;
        column-gap: .7rem;
        justify-self: flex-end;

        .profile-pic {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .about-user {
            display: flex;
            flex-direction: column;

            .user-name {
                color: $blue;
                font-size: 1.4rem;
                font-weight: 500;
            }

            .user-class {
                font-size: 1.2rem;
                font-weight: 400;
                color: $gray;
            }
        }

        .down-arrow {
            display: grid;
            place-items: center;
        }
        @include breakPoint(small) {
            .about-user {
                display: none;
            }
        }
        @include breakPoint(mobile) {
            .about-user {
                display: none;
            }
        }
    }

    .balance {
        display: flex;
        align-items: center;
        gap: 1rem;

        .your-balance {
            .solde {
                color: $gray;
                font-size: 1.3rem;
            }

            .points {
                color: $text-dark-blue;
                font-size: 1.7rem;
            }
        }
    }

    .logo-container {
        display: flex;
        justify-items: center;
        justify-self: flex-start;
        margin-right: auto;
        .logo-name {
            font-size: 2rem;
            color: $blue;
            font-weight: 500;
            margin-left: 1rem;
            line-height: 2.7;
            @include breakPoint(small) {
                display: none;
            }
            @include breakPoint(mobile) {
                display: none;
            }
        }
        svg {
            @include breakPoint(mobile) {
                display: none;
            }
        }
    }

    .search {
        position: relative;
        flex: 1 1 20%;
        max-width: 63rem;
        margin: 0 2rem;

        label {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            left: 1%;
        }

        input {
            padding: 0.7rem 1rem .7rem 3rem;
            border: 1px solid #eee;
            border-radius: 0.8rem;
            width: 100%;
            height: 4rem;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $gray;
            }
        }
   
    }

    @include breakPoint(small) {
        .notification {
            display: none;
        }
    }

    @include breakPoint(mobile) {
        .notification,
        .balance {
            display: none;
        }
    }

}