@import '../../assets/scss';

.my-children {
  flex: 1 0 100%;


  h2 {
    color: $blue;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .children {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;

    .add-child {
      all: unset;
      width: 7.7rem;
      height: 7.7rem;
      border-radius: $border-radius;
      border: 3px solid $blue;
      box-shadow: $box-shadow;
      display: grid;
      place-items: center;
    }

    .child {
      @include card;
      display: flex;
      align-items: center;
      height: 8rem;
      width: 17.4rem;
      gap: 1.5rem;
      cursor: pointer;

      @include breakPoint(mobile) {
        flex-grow: 1;
        width: auto;
      }

      &:hover {
        background-color: $light-blue;
      }

      &.selected {
        background-image: linear-gradient(101.94deg, $blue-linear-gradient);

        .name,
        .child-id {
          color: #fff;
        }
      }

      svg {
        border-radius: 50%;
        width: 5.4rem;
        height: 5.4rem;
        object-fit: cover;
      }

      .about-child {
        .name {
          font-size: 1.8rem;
          font-weight: 700;

        }

        .child-id {
          font-size: 1.3rem;
          font-weight: 400;
        }
      }

    }
  }

}