$blue: #2BA7DF;
$light-blue: rgba(233, 248, 253, .6);
$text-dark-blue:#18698D;
$text-nav-blue:#3870A3;
$gray: #A2A2A7;
$empty-progress-bar-gary: #E3E3E4;
$bg-gray: #f8f8fdE5;
$tomato: #EC5542;
$light-tomato:#FE726E;
$purple: #4A3C98;
$blue-linear-gradient: #40BCF9 0%,
#1E87F0 100%