$border-radius: .8rem;
$box-shadow: 0px 2px 4px rgba(179, 208, 232, 0.6);

@mixin circle($size) {
    border-radius: 50%;
    height: $size;
    width: $size;
}

@mixin card {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 1.2rem 1.4rem;
    background-color: #fff;
}