@mixin breakPoint($point) {
    @if $point == 'mobile' {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == 'small' {
        @media (min-width: 768px ) and (max-width: 992px) {
            @content;
        }
    }
     @else if $point == 'medium' {
        @media (min-width: 993px) and (max-width: 1360px) {
            @content;
        }
    }
}