@import '../../assets/scss';

.layout {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 9rem) repeat(9, auto);
    grid-template-rows: 6.4rem 1fr;

    aside & main {
        transition: all .3s linear;
    }

    main {
        grid-column: 4/ 13;
        grid-row: 2/3;
        background-color: rgba(248, 248, 253, 0.8980392157);
        min-height: calc(100vh - 6.4rem);

        &.collapse {
            grid-column: 2 / 13;
        }
    }

    @include breakPoint(mobile) {
        grid-template-rows: 5.4rem 1fr;

        main {
            grid-column: 1 / 13;
        }

    }
}