@import '../../../../assets/scss';

.live-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: $tomato;

        &.under-line {
            border-bottom: 1px solid $blue;
        }

        &.blue {
            color: $blue;

            svg {
                display: none;
            }
        }
    }

    .see-more {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: #A2A2A7;
        transition: scale .3s linear;

        @include breakPoint(mobile) {
            p {
                display: none;
            }
        }
    }

}