@import '../../../../assets/scss';

.week-days {
    display: flex;
    align-items: center;
    margin-bottom: -1px;

    div:first-of-type {
        flex-basis: 6rem;
        border: transparent;
    }

    .cell {
        &:not(:last-child) {
            border-right: none;
        }

        flex-grow: 1;
        border: 1px solid $empty-progress-bar-gary;
        padding: 1rem;

        .day {
            font-weight: 600;
            font-size: 1.8rem;
            color: $text-dark-blue;
        }

        .date {
            font-size: 1.2rem;
            font-weight: 600;
            color: $gray;
        }
    }
}

.header {
    display: flex;
    align-items: center
}