@import '../../../../assets/scss';


.calendar {
    margin-top: 2rem;
    @include card;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakPoint(mobile) {
        width: fit-content;
    }

    table,
    th,
    td {
        border-collapse: collapse;
    }


}