@import '../../assets/scss';


.home {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: $bg-gray;

  .column {
    flex: 1 1 45%;

    article {
      margin-bottom: 2rem;
    }
  }

  @include breakPoint(mobile) {
    .column {
      flex-basis: 100%;
    }
  }

}