@import '../../../../assets/scss';

tbody {
    tr:first-of-type {
        div {
            height: 1.5rem;
            padding: 0;
            align-items: unset;
        }

        td {
            height: 1.5rem;
            padding: 0;
            align-items: unset;
            outline: none;
            background-color: $bg-gray;
        }
    }

    tr {
        display: flex;
        align-items: center;



        &>div {
            width: 6rem;
            flex-grow: 0;
            border: transparent;
            height: 4rem;
            margin-top: -20px;
            color: #9d9d9d;
            background-color: white;

        }


    }
}