.change-week {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 1rem;
    width: 100%;
    position: relative;

    svg {
        cursor: pointer;
    }

    &>p {
        font-size: 2rem;
        font-weight: 400;
        margin: 0 2rem;
    }

    .this-week {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: absolute;
        right: 1rem;
        top: 0;

        p {
            font-size: 1.4rem;
            font-weight: 400;
            margin: 0 1.2rem;
        }

    }

}