@import '../../assets/scss';

aside {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 4rem 1rem 1rem 1rem;
    background-image: linear-gradient(180deg, $blue-linear-gradient);


    &.collapse {
        grid-column: 1/2;

        ul {
            li {
                height: auto;
                a {
                    gap: .5rem;
                    img {
                        margin: 0 auto;
                    }

                    p {
                        font-size: 1.1rem;
                        margin: 0 auto;
                        text-align: center;
                    }
                }


            }
        }


    }


    ul {
        li {
            cursor: pointer;
            height: 4.2rem;

            a {
                border-radius: $border-radius;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2rem;
                padding: .7rem 1rem;
                font-size: 1.5rem;
                font-weight: 700;
                color: #fff;
            }


            & a.active {
                color: $text-nav-blue;
                background-color: #fff;

                img {
                    filter: invert(60%) sepia(30%) saturate(904%) hue-rotate(170deg) brightness(64%) contrast(100%);
                }
            }
        }
    }



    @include breakPoint(mobile) {
        transform: translateX(-100rem);
    }
}