@import '../../../../assets/scss';


@for $i from 1 through 100 {
    span.current-progress-#{$i} {
        width: percentage(calc($i / 100));
    }
}


.progress {
    @include card;



    .see-more {
        margin-top: 1.4rem;
        border-top: 1px solid #E6E6EE;
        display: grid;
        place-items: center;
        padding-top: 1.8rem;

        p {
            cursor: pointer;
            color: #8BB4C6;
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: .7rem;
        }

    }
}