@import "../../../../assets/scss";

.subject {
    margin-top: 2rem;

    .about-subject {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sub-name {
            display: flex;
            align-items: center;
            gap: .9rem;

            p {
                font-size: 1.6rem;
                font-weight: 500;
                color: $text-dark-blue;
            }

        }

        .percentage {
            color: $purple;
            font-weight: 500;
        }
    }

    .progress-bar {
        margin-top: .6rem;
        height: .8rem;
        width: 100%;
        border-radius: $border-radius;
        background-color: $bg-gray;
        position: relative;

        span {
            border-radius: inherit;
            position: absolute;
            height: 100%;
            background: $tomato;
        }
    }
}