@import '../../../../assets/scss';

.live {
  @include card;

  .session {
    padding: .5rem .3rem;
    margin: 0.5rem 0;

    &:hover {
      background-color: rgba(233, 248, 253, .6);
    }

    .time {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: $blue;
      margin-bottom: .3rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: .5rem;
      color: $gray
    }
  }
}