@import '../../../../assets/scss';

$height: 960;
$minutes: 59;

@for $i from 1 through $height {
    .event-height#{$i} {
        height: #{calc(($i / 60) * 3.8)}rem;
    }

    .minutes#{$i} {
        margin-top:#{calc(($i / 60) * 3.8)}rem !important
    }
}

.event {
    @include card;
    padding: .5rem;
    position: relative;
    z-index: 100;
    overflow: hidden;
    margin: 0 auto;
    flex-basis: 98%;
    transition: flex-basis .3s linear;
    cursor: pointer;

    &.finished {
        border: 0.001rem solid $blue;
        box-shadow: 0px 0px 6px $blue;
    }

    &.soon {
        border: 0.001rem solid #3dec36;
        box-shadow: 0px 0px 6px #3dec36;
    }

    &:hover {
        &~.event {
            display: none;
        }

        &+.event {
            display: none;
        }

        min-width: 98%;
        z-index: 101;
    }

    .event-subject {
        display: flex;

        img {
            width: 2.7rem;
            height: 2.7rem;
        }

        p {
            font-size: 0.96rem;
            font-weight: 700;
            color: $purple;
            padding-left: 1rem;
            text-transform: capitalize;
        }
    }

    .event-stats {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .time {
            display: flex;
            align-items: center;

            p {
                font-size: 0.8rem;
                color: $gray;
                margin-left: .5rem;
                font-weight: 700;
            }
        }

        button {
            all: unset;
            padding: .2rem;
            width: 3.3rem;
            height: 1.5rem;
            background-color: $blue;
            border-radius: 4px;
            font-size: 0.75rem;
            color: #fff;
            font-weight: 700;
            text-align: center;

            &.soon {
                background-color: #3dec36;
            }
        }
    }
}