@import '../../../../assets/scss';

.day {
    flex-grow: 1;
    border: 1px solid $empty-progress-bar-gary;
    padding: 1rem 1.6rem;
    text-align: left;
    min-height: 6rem;
    line-height: 1.5;
    opacity: .6;
    flex-basis: 10rem;
    min-width: 10rem;


    &.current-day {
        opacity: 1;
        border: 3px solid $text-dark-blue;
        border-bottom: none;
    }

    .day-name {
        font-weight: 700;
        font-size: 2rem;
        color: $text-dark-blue;

    }

    .date {
        font-size: 1.4rem;
        font-weight: 700;
        color: $gray;

        span {
            margin-right: .5rem;
        }
        
    }

    @include breakPoint(mobile) {
        border-color: transparent;
    }
}