@import '../../assets/scss';

.table {
    margin-top: 1.8rem;
    border-radius: $border-radius;

    div {
        display: flex;
    }

    .row-header {
        border-radius: $border-radius $border-radius 0 0;
        height: 3rem;
        background-color: $bg-gray;
        border: 1px solid #DDDDDD;
        color: #ABABB0;
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    .row {
        min-height: 3rem;
        border: 1px solid #DDDDDD;

        &:last-child {
            border-radius: 0 0 $border-radius $border-radius;
        }
    }

    .col {
        width: calc(100% / 3);
        border-right: 1px solid #DDDDDD;
        font-size: 1.6rem;
        font-weight: 500;
        padding: .3rem .3rem .1rem;

        &:last-child {
            border-right: none;
        }
    }
}